<h1>Tus contactos</h1>

<div *ngFor="let contacto of listaRandomContact; let i = index">
  <div
    class="contacto"
    routerLink="{{ contacto.id.name }}"
    routerLinkActive="router-link-active"
    [state]="{ data: contacto, filtro: filtroSexo }"
  >
    <h6>
      {{ contacto.name.first }}
      {{ contacto.name.last }}
    </h6>
    <!-- ?Boton para volver al home -->
    <button (click)="volverAHome(contacto)" class="pretty-button">
      Enviar contacto
    </button>
  </div>
</div>

<ng-container *ngIf="filtroSexo == 'female'||filtroSexo == 'male'; else listaCompleta">
  <p *ngIf="filtroSexo == 'female'">Lista filtrada, mostrando solo mujeres</p>
  <p *ngIf="filtroSexo == 'male'">Lista filtrada, mostrando solo hombres</p>
</ng-container>
<ng-template #listaCompleta> </ng-template>

<a [routerLink]="['/home']">Volver a Home</a>
