.random-contact-card {
  max-width: 450px;
  width:450px;
}

.avatar-header-image {
  background-size: cover;
}

.cargandoContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
